<!DOCTYPE html>
<html lang="en">
<head>
  <title>TechDay Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid " >
    <div class="row" style="background-color:blue;color:white;"><h2>  &nbsp &nbsp Technology  Day  Quiz</h2></div>
    <div class="row" >
        <div class="col-md-2" style="background-color:#34c0eb; height: 45px;padding: 7px">
            <h5> Total no of questions: {{q_nos}}</h5>
        </div>  
        <div class="col-md-4" style="background-color:#ccdce0; height: 45px;padding: 7px;">
         {% block mid_block%}

         {%endblock%}
            
        </div>   
        <div class="col-md-4" style="background-color:#ccdce0; height: 45px;padding: 7px;">
            <p class="text-right">
                <a href = {% url 'addQ' %} class="btn btn-info" role="button">Add Question</a>
                <a href =  {% url 'addS'%}  class="btn btn-info" role="button">Add Subject</a>
            </p>
            
        </div>  
        <div class="col-md-2" style="background-color:#34c0eb; height: 45px">
            {%if user.is_authenticated%}
                <p class="text-right" style="margin:10px"> User: {{request.user.username}}  
                    {%if request.user.is_superuser%}
                    (Admin)
                    {%else%}
                    &emsp; &emsp; 
                    {%endif%}
                    &emsp; &emsp;
                   <a href="{% url 'logout'%}?next={{request.path}}">  Logout</a>
                </P>
            {%else%}
                <p style="margin:10px"><a  href="{% url 'login'%}?next={{request.path}}"> Login</a>
                </p>
             {% endif%}   
        </div>     
    </div>
    <div class="row">
        <div class="col-md-2" style="background-color:lavender">
            {% block side_bar%}
            <p>List of Topics</p>
            {% if topics %}
                <ol class="list-group">
                    <li class="list-group-item"><a href= {%url 'quiz'%} >  My Questions</a> </li>  
                      
                {% for q in topics%}
                    <li class="list-group-item"><a href= {%url 'quiz_by_topic' q.pk%} > {{q.name}} </a></li>
                {% endfor %}
                </ol>
            {% else %}
                <p> No topic availlable </P>
            {% endif %}
            {% if request.user.is_superuser %}
                      <p><a href= {%url 'allQ'%} >All Questions</a> </p>
                      {% for a in authors%}
                        <li lass="list-group-item"> 
                            <a href={%url 'list_by_user' a.pk %} >{{a.username}}</a>:{{a.email}}</li>
                        {% endfor%}
            {% endif%}

            {%  endblock %}
        </div> 
        <div class="col-md-10" style="background-color:#bdc7c0">
            <div class="well well-sm" style ="margin.top:20px">
                {% block main_body%}
                
                {%endblock%}
            </div>
        </div>    
    </div>
</div>

</body>
</html>