{% extends "base.html" %}
{% block mid_block%}
<p style="text-align:top;font-size: 22px"> List of Questions</p>
{% endblock%}

{% block main_body%}
    {%if user.is_authenticated%}
    {% if q_list %}
        <ol class="list-group">
        {% for q in q_list%}
            <li class="list-group-item" style="background-color:lavender">{{q.question}}. &emsp;&emsp;&emsp;  (Level:  {{q.difficulty_level}})</li>
            <ol >
                <li >{{q.opt1}} </li>
                <li >{{q.opt2}} </li>
                <li >{{q.opt3}} </li>
                <li >{{q.opt4}} </li>
                <b>Answer: {{q.answer}}</b>
            </ol>
        {% endfor %}
        </ol>
    {% else %}
        <p> No questions availlable </P>
    {% endif %}
    {%else%}
    <h3> Please  <a href="{%url 'login' %}?next={{request.path}}">login </a> to see this page
      
    </h3>
    {%endif%}
{%endblock%}