{% extends "base.html" %}


{% block main_body%}
    <h3>List of Questions</h3>
    {% if q_list %}
        <ol class="list-group">
        {% for q in q_list%}
            <li class="list-group-item" style="background-color:lavender">{{q.question}}</li>
            <ol >
                <li >{{q.opt1}} </li>
                <li >{{q.opt2}} </li>
                <li >{{q.opt3}} </li>
                <li >{{q.opt4}} </li>
                <b>Answer: {{q.answer}}</b>
            </ol>
        {% endfor %}
        </ol>
    {% else %}
        <p> No questions availlable </P>
    {% endif %}
{%endblock%}