{% extends "base.html" %}

{% block mid_block%}
<p style="text-align:top;font-size: 22px"> List of Questions</p>

{% endblock%}

{% block main_body%}
    {%if user.is_authenticated%}
        {% if q_list %}
            {% for q in q_list%}
            <div class="row" style="background-color:lavender"> 
                <div class="col-md-6" >
                    <a href="{{q.get_absolute_url }}">{{q.question}}. </a> 
                </div>
                <div class="col-md-2" >
                    By:  {{q.Author}}
                </div> 
                <div class="col-md-2" >
                    (Level:  {{q.difficulty_level}})
                </div> 
                <div class="col-md-2" >
                    <form action="{% url 'delete_question' q.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                        
                    </form>
                    
                </div>   
            </div>  
            
            <div class ="row">
                <div class ="col-md-4">
                  
                    <h4 >1.  {{q.opt1}} </h4>
                    <h4 >2.  {{q.opt2}} </h4>
                  
                </div>
                <div class=  "col-md-4">
                                                       
                    <h4 >3. {{q.opt3}} </h4>
                    <h4 >4. {{q.opt4}} </h4>
                    
                </div>
                <div class=  "col-md-4">
                    {% if q.image %}
                    <img src="{{ q.image.url}}" alt="connect" style="max-height:100px">
                    {% endif %}
                </div>
            </div>
                <b>Answer: {{q.answer}} </b><br> {{q.extra}}

            
            {% endfor %}
        {% else %}
        <p> No questions availlable </P>
        {% endif %}
    {%else%}
    <h3> Please  <a href="{%url 'login' %}?next={{request.path}}">login </a> to see this page
    </h3>
    {%endif%}
{%endblock%}