{% extends "base.html" %}
{% block mid_block%}
<p style="text-align:top;font-size: 22px">  Questions -------  (You may modify /delete)</p>
{% endblock%}

{% block main_body%}
    {%if user.is_authenticated%}
        {% load crispy_forms_tags %}
        <form action='' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row" > 
                <div class="col-md-6" >
                {{ form.subject|as_crispy_field }}
                </div>
                <div class="col-md-6" >
                {{ form.difficulty_level|as_crispy_field }}
                </div>
            </div>
            {{ form.question|as_crispy_field }}
            <div class="row" > 
                <div class="col-md-3" >
                {{ form.opt1|as_crispy_field }}
                </div>
                <div class="col-md-3" >
                {{ form.opt2|as_crispy_field }}
                </div>
                <div class="col-md-3" >
                    {{ form.opt3|as_crispy_field }}
                </div>
                <div class="col-md-3" >
                        {{ form.opt4|as_crispy_field }}
                </div>
            </div>
            {{ form.answer|as_crispy_field }}
            {{ form.extra|as_crispy_field }}
            <div class="row" > 
                <div class="col-md-8" >
                   <!--  {{ form.image|as_crispy_field }} -->
                </div>
                <div class="col-md-4" >
                   <input type="submit" value="Save">
                </div>
             </div>           
        </form>
        {% if q.image %}
        <h4> Current Image</h4>
        <img src="{{ q.image.url}}" alt="connect" style="max-height:100px">
        {% endif %}
    {%else%}
    <h3> Please  <a href="{%url 'login' %}?next={{request.path}}">login </a> 
        to see this page
    </h3>
    {%endif%}
{%endblock%}